@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --menu: #232323;
    --sub-menu: #525252;
    --interaction: #646464;
    --border: #313131;
    --text: #fff;
}

html {
    user-select: none;
    font-family: "Comfortaa", sans-serif;
}

#header {
    position: fixed;
    left: 0;
    padding: 0;
    margin: 0;
    top: 0;
    background-color: var(--menu);
    color: var(--text);
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#header>* {
    margin: 0;
    padding: 0;
}

.directory {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.directory>* {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
}

.btn {
    background-color: var(--interaction);
    width: fit-content;
    border-color: var(--border);
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

#transfer {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: fit-content;
    font-size: 3vh;
}

#files {
    position: fixed;
    left: 0;
    top: 15vh;
    width: calc(85vw/2);
    height: 75vh;
    overflow-y: auto;
    background-color: var(--sub-menu);
    border-right-style: solid;
    border-color: var(--border);
    border-width: 2px;
}

#settings {
    position: fixed;
    right: 0;
    top: 15vh;
    width: 15vw;
    height: 75vh;
    overflow-y: auto;
    background-color: var(--menu);
    border-left-style: solid;
    border-color: var(--border);
    border-width: 2px;
}

#fileTypes {
    position: absolute;
    left: 2px;
    top: 0px;
    background-color: var(--sub-menu);
    width: 90%;
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#fileTypes>div {
    width: 100%;
    margin: 0;
    padding: 0;
}

#fileTypes>div>p {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: var(--text);
    width: 100%;
    background-color: var(--interaction);
}

#fileTypes>div>span {
    position: absolute;
    left: 5px;
    color: var(--text);
}

#fileTypes>div>span:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

#addType {
    width: 90%;
    position: absolute;
    left: 0px;
    top: 90%;
    height: 2.5vh;
    padding: 0;
    margin: 0;
    background-color: var(--interaction);
    outline: unset;
    border-radius: 5px;
    color: var(--text);
}

#addType::placeholder {
    color: var(--text);
    filter: brightness(0.75);
}


#files>*,
#transfered>* {
    font-size: 1.2vh;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--interaction);
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#progressBar {
    position: fixed;
    left: calc((85vw/2) - 5vw);
    top: 85vh;
    width: 10vw;
    height: 5vh;
    background-color: var(--interaction);
    border-color: var(--border);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    overflow: hidden;
}

#progressBar>div {
    position: relative;
    width: 10vw;
    height: 5vh;
    border-style: none;
    border-radius: 0px;
    background-color: #007d00;
    display: block;
}

#transfered {
    position: fixed;
    left: calc(85vw/2);
    top: 15vh;
    width: calc(85vw/2);
    overflow-y: auto;
    height: 75vh;
    background-color: var(--sub-menu);
    border-left-style: solid;
}

#console {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    overflow-y: auto;
    border-top-style: solid;
    border-color: var(--border);
    border-width: 2px;
    background-color: var(--menu);
    display: flex;
    flex-direction: column;
}

#active {
    background: linear-gradient(90deg, var(--interaction), #007d00);
}

#inactive {
    background: linear-gradient(90deg, #7d0000, var(--interaction));
}

#console>* {
    margin: 0;
    padding: 0;
}

.toggle {
    width: 10vw;
    margin-top: 2vh;
}